
.heading{
    text-align: center;
    background-color: pink;
    font-size: 20px;
    text-decoration-line: none;
   
    }
a{
    text-decoration: none;
    
}
a:hover{
    color: rgb(255, 47, 116);
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.homecontent{
    margin-left: 50px;
    
}
.stories{
        text-align: center;
}

.col img{
    width:100%;
    opacity:08;
}
.col{
    display:inline-block;
    width: 30%;
    margin: 20px 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    text-align: center;
    background-color: goldenrod;
    padding: 30px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px 5px;
    

}
legend { 
    display: none; }
fieldset {
    border: none;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(83, 15, 15);
  border-radius: 4px;
}
textarea {
    height: 200px;

}
 
input[type="submit"],
select {
    background-color: green;
    color: white;
    padding: 25px;
    border: none;
    border-radius: 5px;
    


}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: aquamarine;


}
